Repository SafaElmali/react-beauty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix, prettier --write, eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx, prettier --write --parser markdown, prettier --write --parser json, prettier --write --parser yaml, prettier --write --parser html, prettier --write --parser css, imagemin-lint-staged

.lintstagedrc:

{
  "src/**/*.{js,jsx}": [
    "eslint",
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "src/**/*.{ts,tsx}": [
    "eslint --ext .ts,.tsx",
    "eslint --fix --ext .ts,.tsx",
    "prettier --write --ext .ts,.tsx",
    "git add"
  ],
  "*.{md,markdown}": [
    "prettier --write",
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.{json,json5,jsonc}": [
    "prettier --write",
    "prettier --write --parser json",
    "git add"
  ],
  "*.{yml,yaml}": [
    "prettier --write",
    "prettier --write --parser yaml",
    "git add"
  ],
  "*.{html,htm}": [
    "prettier --write",
    "prettier --write --parser html",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "prettier --write",
    "prettier --write --parser css",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged"
}

Add new config to eslint
  .eslintrc.json
Due: prettier --write, prettier --write --parser json

Add export components
  src/components/index.ts
  src/index.ts
Due: eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx

Add example project to test package
  example/.gitignore
  example/README.md
  example/package-lock.json
  example/package.json
  example/public/favicon.ico
  example/public/index.html
  example/public/logo192.png
  example/public/logo512.png
  example/public/manifest.json
  example/public/robots.txt
  example/src/App.css
  example/src/App.js
  example/src/App.test.js
  example/src/index.css
  example/src/index.js
  example/src/logo.svg
  example/src/reportWebVitals.js
  example/src/setupTests.js
  src/components/index.ts
  src/index.ts
Due: prettier --write, eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx, prettier --write --parser markdown, prettier --write --parser json, prettier --write --parser html, prettier --write --parser css, imagemin-lint-staged

Refactor files
  .gitignore
  src/App.test.tsx
  src/App.tsx
  src/components/Layouts/Box/Box.tsx
  src/components/Layouts/Center/Center.tsx
  src/components/Layouts/Flex/Flex.tsx
  src/components/Layouts/Grid/Grid.tsx
  src/components/Provider/BeautyProvider.tsx
  src/components/index.ts
  src/styled-configs/borderStyles.ts
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx, prettier --write --parser json

Update README.md
  README.md
Due: prettier --write, prettier --write --parser markdown

Refactor components
  src/components/Layouts/Flex/Flex.tsx
  src/components/Layouts/Grid/Grid.tsx
  src/components/Provider/GlobalStyles.ts
  src/index.tsx
Due: eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx

Refactor Flex props
  src/components/Layouts/Flex/Flex.tsx
Due: eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx

Add Container component
  src/App.tsx
  src/components/Layouts/Container/Container.tsx
  src/components/Layouts/Container/StyledContainer.tsx
  src/config/layout.ts
  src/styled-configs/layoutStyles.ts
Due: eslint --ext .ts,.tsx, eslint --fix --ext .ts,.tsx, prettier --write --ext .ts,.tsx

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write, prettier --write --parser markdown
